body {
  background-color: #ffffff;
}

.banner {
       position:fixed;
       top: 0%;
       left: 0;
       right:0;
       background-color: rgb(33, 92, 157);
       z-index: 1000;
       padding: 1em 3em 1em 3em;
       height: 5%;
       color: #fff;
     }



.details {
  background-color: #fff;
  color: #000;
  border-width: .1%;
  border-color: purple;
  display: none;
}

#back {
  position: absolute;
  z-index: 2000;
}

#mybookshelf {
  position: absolute;
  float: left;
  display: inline;
  padding-right: 20px;
  width: 90%;
  right: 5%;
  left: 5%;
  top: 40%;
  bottom: 40%;
  background-color: green;
  display:none;
}

#createBookShelfbutton {
  position: absolute;
  right: 1em;
  top: 1em;
}

.bookonshelf {
  margin:0em 1em;
}

.container {
  background-color: #ffffff;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


#searchbox {
  width: 40%;
  position: fixed;
  top: 55%;
  left: 30%;
  height:2em;
  font-size: 2em;
  font-weight: bold;
}

#searchclick {
 border: none;
 display: inline-block;
 position: fixed;
 top: 55%;
 right: 24%;
 background-color: rgb(4, 115, 249);
 outline: 0;
 padding: 1em 1em;
 font-size: 1em;
 color: #fff;
}

.bookdiv {
  position: relative;
  width: 24%;
  left: 20%;
  right:20%;
  background-color: #A173EF;
  color: white;
  border-radius: .2em;
  border-color: black;
  border-width:.1em;
  border-style: solid;
  margin: 1em;
  padding: .2em .2em .2em .2em;

}


.purty {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  z-index: 2000;
}

.buttonBox {
  position: fixed;
  left: 35%;
  z-index: 2000;

}

.booksContainer {
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  top: 4em;
  left:0%;
  right:10%;
  width: 80%;
}



.viewMore {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.grid {
  width: 24%;
  height: auto;
}

.list {
  width: 99%;
  height: auto;
}




.page3 {display: block;}

.page2  {display: none;}

.page3 {display: none;}

.page4 {display: none;}

.page5 {display: none;}
